html, body {
    margin: -1% 0 0 0;
    /* background-color: #777; */
}

.bg-img {
    background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    background-size: cover;
}

.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.6)), to(rgba(29, 210, 177, 0.6)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%); 
}

/* h3 {
    text-align: center;
    color: #777;
    padding-top: 40px;

} */

.toparea {
    background-color: #fff;
    height: 100px;
    width: 100%;
    
}

.container {
    width: 960px;
    margin: 0 auto;
}

.navarea {
    background-color: #fff;
    width: 960px;
    margin: 0 auto;
 
}

.navleft {
    /* background-color: #4AAAA5; */
    width: 210px;
    float: left;
    height: 100px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7deed+0,71ceef+37,21b4e2+100,b7deed+100,b7deed+100,b7deed+100,21b4e2+100,b7deed+100 */
background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(left, #b7deed 0%, #71ceef 37%, #21b4e2 100%, #b7deed 100%, #b7deed 100%, #b7deed 100%, #21b4e2 100%, #b7deed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b7deed 0%,#71ceef 37%,#21b4e2 100%,#b7deed 100%,#b7deed 100%,#b7deed 100%,#21b4e2 100%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b7deed 0%,#71ceef 37%,#21b4e2 100%,#b7deed 100%,#b7deed 100%,#b7deed 100%,#21b4e2 100%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); /* IE6-9 */  
}

.navright {
    width: 310px;
    float: right;
    padding-top: 55px;
}

.navrlnks {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #CCCCCC;
}

.navrlnks a {
    text-decoration: none;
    color: #CCCCCC;
}

.logotex {
    font-family: 'Pacifico', cursive;
    padding-top: 22px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 28px;
    text-align: left;
    text-shadow: 2px 2px #acacac;
    font-weight: normal;
    /* height: 100px; */
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.maincontent {

    height: 100%;
}


h1, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #acacac;
}

.maincontsec .lefimg {
    float: left;
    margin: 20px;
}

.maincontsec .rightimg {
    float: right;
    margin: 20px;
}

.maincontsec p {
    font-family: 'Courier New', Courier, monospace;
    color: #6e6e6e;
}

.maincontsec {
    background-color: #fff;
    float: left;
    width: 910px;
    height: 100%;   
    margin: 20px 0;
    padding: 20px 30px;
}

.leftsection {
    background-color: #f2f2f2;
    float: left;
    width: 70%;
    height: 500px;
    margin: 20px 0;
    

}

.articlesec {
    background-color: #fff;  
    height: 410px;
    width: 84%;
    margin: 20px auto;
    padding: 20px 30px;
}

.articlesec .textblock h4 { 
    color: #777;
    font-weight: bold;
}

.rightsection {
    background-color: #fff;
    float: left;
    width: 28%;
    height: 500px;
    /* margin-left: 19px; */
    margin: 20px 0 20px 19px;
    text-align: center;
    
}

.textblock {
    width: 92%;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    color: #777;
    font-weight: normal;
    height: 80px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.col1, .col2, .col3 {  
    float: left;
    width: 33%;
    margin-left:3px;
}

/* table */

.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    font-family: 'Courier New', Courier, monospace;
    width: 280px;
    color: #6e6e6e;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    border-color:#f2f2f2;
}

.tg .t-aligne {
    vertical-align:top}

.imagebutton {
    position: relative;
    width: 250px;
    }
    
    /* Make the image responsive */
.imagebutton img {
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    }
    
    /* Style the button and place it in the middle of the imagebutton/image */
.imagebutton .btn {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #73DCCE;
    color: white;
    font-size: 16px;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }
    
.imagebutton .btn:hover {
    background-color: #27B6E3;
    }

.footerarea {
    width: 100%;
    height: 100px;
    border-top: 6px solid #27B6E3;
    border-width: 5px;
    background-color: #ffffff;
}

.footerarea p {
    padding: 0;
    margin: 0;
}